@font-face {
  font-family: 'Uber Move';
  src: url(./Fonts/UberMoveMedium.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Uber Move', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input, button {
  border: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row {
  width: 90%;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
}

.separators {
  width: 90%;
}

.orange {
  color: #ffc043;
}

.no-cursor {
  cursor: not-allowed;
}


/*

NAVIGATION BAR

*/
/* Primary Navigation & Utilities */
nav {
  padding: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account__container {
  margin-left: 8px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account__img--wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account__img {
  font-size: 56px;
  margin-bottom: 8px;
}

.account__img--logged {
  display: none;
}

.account__preview {
  margin-left: 16px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
}

.account__name {
  font-size: 16px;
  font-weight: 700;
}

.account__name--logged {
  display: none;
  font-size: 16px;
  font-weight: 700;
}

.account__viewer {
  font-size: 16px;
  font-weight: 400;
  color: #ffc043;
}

.account__viewer--logged {
  display: none;
  font-size: 16px;
  font-weight: 400;
  color: #ffc043;
}

.btn__menu {
  background-color: transparent;
  font-size: 32px;
  border: none;
  color: #000;
  display: block;
  transition: all 300ms ease;
  display: flex;
}

.menu__backdrop {
  position: absolute;
  background-color: #eeeeee;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 20%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(-100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
  transition: all 300ms ease;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(-10%);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu__list {
  padding: 8px 0;
}

.menu__link--icon {
  font-size: 16px;
}

.menu__link {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  transition: all 300ms ease;
}

.menu__link:hover {
  color: #ffc043;
}

.menu__btn--sign {
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
  transition: all 300ms ease;
}

.menu__btn--sign:hover {
  color: #ffc043;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  left: 50px;
  margin-bottom: 24px;
  padding: 8px;
  color: #000;
  transition: all 300ms ease;
}

.logo {
  font-size: 32px;
  font-weight: 800;
  margin: 0 16px;
}

.address__search--wrapper {
  border-radius: 50px;
  background-color: #eeeeee;
  padding: 4px 16px;
  min-width: 25%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.item__search--wrapper {
  border-radius: 0;
  background-color: #eeeeee;
  padding: 4px 16px;
  min-width: 25%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.address__search, .item__search {
  background-color: #eeeeee;
  color: #000;
  height: 40px;
  outline: none;
  margin-left: 16px;
}

.item__cart--btn {
  border-radius: 50px;
  padding: 4px 16px;
  background-color: #000;
  color: #fff;
  height: 40px;
}

.fa-shopping-cart,
.item__cart--name,
.item__cart--count {
  color: #fff;
}

/* Filter Navigation Bar */
.category__list {
  margin: 32px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.category__item {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category__img {
  width: 60px;
}

.category__name {
  font-weight: 400;
  margin-top: 16px;
}


/*

SLIDER SECTION

*/
.slider__section--wrapper {
  margin: 32px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__arrow--wrapper {
  width: 5%;
}

.slider__options {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__option {
  position: relative;
  width: calc(100% / 3);
  margin: 0 16px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.slider__option--img {
  width: 300px;
  border-radius: 16px;
  filter: saturate(-5);
}

.slider__option--title {
  position: absolute;
  top: 10%;
  left: 0;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px #000;
  padding: 16px;
}

.slider__option--btn {
  position: absolute;
  bottom: 10%;
  left: 5%;
  border: none;
  border-radius: 50px;
  padding: 4px 8px;
}

.slider__option--anchor {
  font-weight: 300;
  color: #000;
}

.slider__arrow {
  font-weight: 700;
  border-radius: 50px;
  background-color: #eeeeee;
  color: #000;
  width: 5%;
  margin: 0 16px;
  padding: 8px 9px;
  display: flex;
  justify-content: center;
}


/*

LISTINGS

*/
.listings {
  padding: 2rem 0;
}
.listings {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  align-items: center;
}

.listings {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000 ;
  margin: auto 0 auto auto;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
}

.listings__header--section {
  border-left: 4px solid #ffc043;
  width: 25%;
  margin-right: 16px;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.header__subtitle {
  font-weight: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}

.header__view--options {
  font-size: 16px;
  font-weight: 500;
  transition: all 300ms ease;
}

.header__view--options:hover {
  color: #ffc043;
}

.listings .listings__grid {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.listings .listings__grid::-webkit-scrollbar {
  display: none;
}
.listings .listings__grid .listings__col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: start;
  margin-left: 25px;
}
.listings .listings__grid .listings__grid--element {
  width: calc(1 / 3 * 100% - (1 - 1 / 3) * 25px);
  margin-top: 2rem;
}
.listings .listings__grid .listings__grid--element .image {
  height: 240px;
  overflow: hidden;
}
.listings .listings__grid .listings__grid--element .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.listings .listings__grid .listings__grid--element .text__lower {
  padding: 0.6rem 0;
}
.listings .listings__grid .listings__grid--element .text__lower span {
  color: var(--color-greyDarker);
}
.listings .listings__grid .listings__grid--element .text {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}
.listings .listings__grid .listings__grid--element .text h3 {
  font-weight: 400;
  margin-bottom: 0.3rem;
  margin-top: 0;
}
.listings .listings__grid .listings__grid--element .text span {
  font-size: 0.8rem;
  font-weight: 300;
}
.listings .listings__grid .listings__grid--element .text .rating {
  margin: auto 0 auto auto;
  height: 100%;
}
.listings .listings__grid .listings__grid--element .text .rating span {
  height: 40px;
  width: 40px;
  background: var(--color-grey);
  font-size: 1rem;
  color: black;
}




















